In [13]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup
import numpy as np

In [14]:
f1 = pd.read_csv('forest_cover.csv')
f1.head()

,State/UT,Geographical Area_1-13,Geographical Area_15-19,Very dense forest-2001,Open forest-2001,Total-2001,Very dense forest-2003,Mod. dense forest-2003,Open forest-2003,Total-2003,...,Open forest-2015,Total-2015,Very dense forest-2017,Mod. dense forest-2017,Open forest-2017,Total-2017,Very dense forest-2019,Mod. dense forest-2019,Open forest-2019,Total-2019
0,Andhra Pradesh,"2,75,069","1,60,204","25,827","18,810","44,637",23,"24,356","20,040","44,419",...,"10,956","24,424","1,957","14,051","12,139","28,147","1,994","13,938","13,205","29,137"
1,Arunachal Pradesh,"83,743","83,743","53,932","14,113","68,045","13,907","39,604","14,508","68,019",...,"15,143","67,248","20,721","30,955","15,288","66,964","21,095","30,557","15,036","66,688"
2,Assam,"78,438","78,438","15,830","11,884","27,714","1,684","11,358","14,784","27,826",...,"14,914","27,623","2,797","10,192","15,116","28,105","2,795","10,279","15,253","28,327"
3,Bihar,"94,163","94,163","3,372","2,348","5,720",76,"2,951","2,531","5,558",...,"3,664","7,288",332,"3,260","3,707","7,299",333,"3,280","3,693","7,306"
4,Chhattisgarh,"1,35,191","1,35,191","37,880","18,568","56,448","1,540","37,440","17,018","55,998",...,"16,588","55,586","7,064","32,215","16,268","55,547","7,068","32,198","16,345","55,611"

In [15]:
t1 = pd.read_csv('tree_cover.csv')

In [16]:
t2 = t1.drop([37])

In [17]:
t3 = t2.drop(['State/UT'], axis = 1)

In [18]:
t3.head()

,Tree_Cover-2001,Tree_Cover-2003,Tree_Cover-2005,Tree_Cover-2009,Tree_Cover-2011,Tree_Cover-2013,Tree_Cover-2015,Tree_Cover-2017,Tree_Cover-2019
0,"9,011","12,120","7,640","7,191","7,152","7,187","3,965","3,753","3,914"
1,478,363,446,592,549,660,761,807,848
2,"1,942",935,"1,484","1,590","1,564","1,582","1,613","1,496","1,408"
3,"3,693","1,620","2,522","2,495","2,369","2,164","2,182","2,263","2,003"
4,"3,535","6,723","4,492","4,027","3,866","3,463","3,629","3,833","4,248"

In [19]:
green_cover = pd.concat([f1, t3], axis=1, sort=False)

In [20]:
green_cover.to_csv('green_cover.csv', na_rep='Null', float_format='%.2f', index=False, encoding='utf-8')#area in km2